.spoiler {
    margin: 5px 0 !important;
    padding: 0 15px;
    border: 1px solid #E5E5E5;
    position: relative;
    clear: both;
    border-radius: 3px;
}

.spoiler .spoiler-title {
    margin: 0 -15px;
    padding: 5px 15px;
    color: #353535;
    font-weight: bold;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.spoiler .spoiler-title:hover {
    color: #19abd6;
}

.spoiler .spoiler-title:before {
    font-weight: bold;
}

.spoiler.collapsed .spoiler-title:before {
    content: "► ";
}

.spoiler.expanded .spoiler-title:before {
    content: "▼ ";
}

.spoiler.collapsed .spoiler-content {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.spoiler.expanded .spoiler-content {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 5000px;
    overflow: hidden;

    border: 1px solid rgb(56, 55, 55);
    border-radius: 3px;
    padding: 10px;
}

.spoiler .spoiler-content p:first-child {
    margin-top: 0 !important;
}